<aside class="navbar bg-light py-0 position-fixed">
    <div class="container-fluid flex-column align-items-start vh-100 pb-6 px-0">
        <div class="w-100">
            <a class="navbar-brand p-6 d-inline-block" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="LOGO"></a>
            
            <div class="navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6 w-100" href="a"><span class="material-symbols-outlined pe-4 align-bottom">bar_chart_4_bars</span>Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6" href="#"><span class="material-symbols-outlined pe-4 align-bottom">quiz</span>Question</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6" href="index.html"><span class="material-symbols-outlined pe-4 align-bottom">assignment</span>Assignment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6" href="#"><span class="material-symbols-outlined pe-4 align-bottom">video_library</span>Course</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6 text-success border-start border-4 border-success" href="admin.html"><span class="material-symbols-outlined pe-4 align-bottom">group</span>Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold ps-6" href="#"><span class="material-symbols-outlined pe-4 align-bottom">settings</span>Settings</a>
                </li>
              </ul>
            </div>
        </div>



        <div class="d-flex ps-6">
            <div class="flex-shrink-0">
            <img src="../assets/images/andychen.jpeg" alt="Andy Chen的照片" width="40" height="40" class="rounded-circle object-fit-cover">
            </div>
            <div class="flex-grow-1 ms-4">
                <p class="mb-0 fw-bold lh-sm">Andy Chen</p>
                <p class="mb-0 text-secondary"><small>andy0401@mail.com</small></p>
            </div>
        </div>  
    </div>
</aside>